.normal {
    color: green;
}

.exceeded {
    color: red;
}

.footer {
    padding-bottom: 15px;
}

.disabled {
    opacity: 0.3;
}

.error, .message {
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
}

.error {
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
}

.message {
    color: #2f9635;
    background-color: #c6fbc2;
    border: 1px solid #9feba6;
}

.table_bold_txt {
    font-size: 14px;
    font-weight: 600;
}

.font_15 {
    font-size: 15px;
}


.table_dishes {
    font-size: 12px;
}

.table_txt {
    font-size: 14px;
}

.navbar .nav-collapse {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding-right: 400px;
    padding-left: 80px;
    width: 100%;
}

.btn.btn-circle {
    border-radius: 50px;
}

.btn.btn-outline {
    background-color: transparent;
}

.head-txt {
    text-align: center;
}

.table {
    /*table-layout: fixed;*/
    overflow: auto;
}

.table th {
    text-align: center;
}

.table td {
    text-align: center;
    background: whitesmoke;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.page-header-cstm {
     padding-bottom: 1px;
     margin: 10px 0 10px;
    border-bottom: 1px solid #eee;
}

/*.btn-file {*/
    /*position: relative;*/
    /*overflow: hidden;*/
/*}*/
/*.btn-file input[type=file] {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*min-width: 100%;*/
    /*min-height: 100%;*/
    /*font-size: 100px;*/
    /*text-align: right;*/
    /*filter: alpha(opacity=0);*/
    /*opacity: 0;*/
    /*outline: none;*/
    /*background: white;*/
    /*cursor: inherit;*/
    /*display: block;*/
/*}*/

.input-file-row-1:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.input-file-row-1{
    display: inline-block;
    margin-top: 25px;
    position: relative;
}

html[xmlns] .input-file-row-1{
    display: block;
}

* html .input-file-row-1 {
    height: 1%;
}

.upload-file-container {
    position: relative;
    width: 130px;
    height: 167px;
    overflow: hidden;
    float: left;
    margin-left: 23px;
}

.upload-file-container:first-child {
    margin-left: 200px;
}


.upload-file-container-text{
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #719d2b;
    line-height: 17px;
    text-align: center;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 130px;
    height: 35px;
}

.upload-file-container-text > span{
    border-bottom: 1px solid #719d2b;
    cursor: pointer;
}

.upload-file-container input  {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    margin: 0;
    padding: 0;
    border: none;
    width: 70px;
    height: 50px;
    cursor: pointer;
}